<div class="display-flex experience-title">
  <nz-avatar [nzSize]="64" nzSrc="/Portfolio/assets/equus.png"></nz-avatar>
  <h4 nz-typography>Equus Software</h4>
</div>

<nz-timeline>
  <nz-timeline-item>
    <div class="display-flex">
      <nz-avatar [nzSize]="24" nzSrc="/Portfolio/assets/NEC.png" class="experience-item-ml"></nz-avatar>
      <h6 nz-typography>Full Stack Developer</h6>
    </div>
    <div class="display-flex">
      <i nz-icon nzType="calendar" nzTheme="twotone" class="experience-item-ml"></i>
      <p nz-typography> November 2021 </p>
    </div>

    <p nz-typography>
      <i nz-icon nzType="right-circle" nzTheme="twotone" class="experience-item-text-ml"></i>
      Development of multiple improvements on Equus' main cash-cow solution - AssignmentPro. <br>
      Responsable for analizing, developing, and testing stories and tasks.
    </p>

  </nz-timeline-item>
</nz-timeline>

<div class="techstack-div">
  <b>TechStack</b>
  <div>
    <nz-tag nzColor="magenta">.NET framework 4.6</nz-tag>
    <nz-tag nzColor="red">SQLServer 2008</nz-tag>
    <nz-tag nzColor="volcano">SQLServer 2019</nz-tag>
    <nz-tag nzColor="orange">Angular 11</nz-tag>
    <nz-tag nzColor="gold">WebForms</nz-tag>
    <nz-tag nzColor="lime">VisualBasic</nz-tag>
  </div>
</div>
