<div class="display-flex">
  <div class="width-60-pc">
    <div class="display-flex experience-title">
      <h3 nz-typography>Education</h3>
    </div>

    <div class="display-flex experience-title">
      <nz-avatar [nzSize]="64" nzSrc="/Portfolio/assets/isel.png" class="experience-item-ml"></nz-avatar>
      <h4 nz-typography>Instituto Superior de Engenharia de Lisboa</h4>
    </div>

    <nz-timeline>
      <nz-timeline-item>
        <div class="display-flex">
          <h6 nz-typography>Telecommunications, electronics and computer engineering licenciate degree</h6>
        </div>
        <div class="display-flex">
          <i nz-icon nzType="calendar" nzTheme="twotone" class="experience-item-ml"></i>
          <p nz-typography> September 2012 - March 2018</p>
        </div>

        <nz-timeline>
          <nz-timeline-item>
            <b nz-typography>Low voltage DC-DC boost Converter</b>
            <div class="display-flex">
              <i nz-icon nzType="calendar" nzTheme="twotone" class="experience-item-ml"></i>
              <p nz-typography> March 2017 - September 2017</p>
            </div>
            <p nz-typography>
              <i nz-icon nzType="right-circle" nzTheme="twotone" class="experience-item-text-ml"></i>
              Study, design, development, and testing of a circuit capable of boosting the voltage of a photovoltaic
              cell from 0.3V/1V to 2.5V/4V. Using only discrete components.
            </p>
          </nz-timeline-item>

          <nz-timeline-item>
            <b nz-typography>Digital anemometer</b>
            <div class="display-flex">
              <i nz-icon nzType="calendar" nzTheme="twotone" class="experience-item-ml"></i>
              <p nz-typography> May 2017 - July 2017</p>
            </div>
            <p nz-typography>
              <i nz-icon nzType="right-circle" nzTheme="twotone" class="experience-item-text-ml"></i>
              Development of an anemometer based on the Arduino platform for hardware interaction and windows GUI (WPF)
              for data analyses and configuration.
            </p>
          </nz-timeline-item>
        </nz-timeline>

      </nz-timeline-item>
    </nz-timeline>
  </div>
  <div class="pl-50-px">
    <div class="display-flex experience-title">
      <h3 nz-typography>Online Courses</h3>
    </div>
    <nz-timeline>
      <nz-timeline-item>
        <div class="display-flex academic-title">
          <nz-avatar [nzSize]="32" nzSrc="/Portfolio/assets/udemy.png" class="experience-item-ml"></nz-avatar>
          <b nz-typography>Master your Brain: Neuroscience for personal development</b>
        </div>
        <div class="display-flex academic-title">
          <i nz-icon nzType="info-circle" nzTheme="twotone" class="experience-item-ml"></i>
          Udemy
        </div>
        <div class="display-flex">
          <i nz-icon nzType="calendar" nzTheme="twotone" class="experience-item-ml"></i>
          <p nz-typography> July 2021</p>
        </div>
      </nz-timeline-item>

      <nz-timeline-item>
        <div class="display-flex academic-title">
          <nz-avatar [nzSize]="32" nzSrc="/Portfolio/assets/udemy.png" class="experience-item-ml"></nz-avatar>
          <b nz-typography>Design Patterns in C# and .NET</b>
        </div>
        <div class="display-flex academic-title">
          <i nz-icon nzType="info-circle" nzTheme="twotone" class="experience-item-ml"></i>
          Udemy
        </div>
        <div class="display-flex">
          <i nz-icon nzType="calendar" nzTheme="twotone" class="experience-item-ml"></i>
          <p nz-typography> November 2019</p>
        </div>
      </nz-timeline-item>

      <nz-timeline-item>
        <div class="display-flex academic-title">
          <nz-avatar [nzSize]="32" nzSrc="/Portfolio/assets/udemy.png" class="experience-item-ml"></nz-avatar>
          <b nz-typography>Scrum Certification Prep +Scrum Master+ Agile Scrum Training</b>
        </div>
        <div class="display-flex academic-title">
          <i nz-icon nzType="info-circle" nzTheme="twotone" class="experience-item-ml"></i>
          Udemy
        </div>
        <div class="display-flex">
          <i nz-icon nzType="calendar" nzTheme="twotone" class="experience-item-ml"></i>
          <p nz-typography> August 2020</p>
        </div>
      </nz-timeline-item>

      <nz-timeline-item>
        <div class="display-flex academic-title">
          <nz-avatar [nzSize]="32" nzSrc="/Portfolio/assets/scrumstudy.png" class="experience-item-ml"></nz-avatar>
          <b nz-typography>Scrum Fundamentals</b>
        </div>
        <div class="display-flex academic-title">
          <i nz-icon nzType="info-circle" nzTheme="twotone" class="experience-item-ml"></i>
          SCRUMstudy
        </div>
        <div class="display-flex">
          <i nz-icon nzType="calendar" nzTheme="twotone" class="experience-item-ml"></i>
          <p nz-typography> August 2018</p>
        </div>
      </nz-timeline-item>

    </nz-timeline>
  </div>
</div>